
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>© Sudhanshu Samal</p>
  </div>
</div>

<script>
  function menuOnClick() {
  document.getElementById("menu-bar").classList.toggle("change");
  document.getElementById("nav").classList.toggle("change");
  document.getElementById("menu-bg").classList.toggle("change-bg");
}
</script>
</body>
</html>
